:root {
  --light-color-text: #ffffff;
  --dark-color-text: #000000;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2 {
  font-family: PT serif, sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  font-family: Roboto, sans-serif;
}

/* Header */

.header {
  color: var(--light-color-text);
  background-color: violet;
}

.header-logo {
  font-family: PT serif, sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: var(--light-color-text);
}

.header-logo-text {
  font-size: 18px;
  line-height: 21px;
}
.header-contacts {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.3;
}
.header-contacts-link {
  color: var(--light-color-text);
}
.header-button {
  font-family: inherit;
  color: var(--light-color-text);
  background-color: transparent;
}

.header-nav-link {
  font-size: 16px;
  line-height: 19px;
  color: var(--light-color-text);
}

/* Hero */

.hero {
  color: var(--light-color-text);
  background-color: wheat;
}
.hero-title {
  font-size: PT Serif, sans-serife;
  font-weight: 700;
  font-size: 90px;
  line-height: 1.3;
}

.hero-description {
  font-size: 20px;
  line-height: 1.4;
}

.hero-button {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.1;
  color: var(--light-color-text);
  text-transform: uppercase;
}

/* Категории туров */
.categories-link {
  color: var(--dark-color-text);
}
.categories-description {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1;
  color: var(--dark-color-text);
}

.directions {
  background-color: rgba(112, 207, 41, 0.07);
}

.directions-title {
  font-family: PT Serif, sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.3;
}
.directions-text {
  font-size: 16px;
  line-height: 1.3;
  color: #333333;
}

/*
.suggestions
.map
.about
.features
.forms
.footer */

.suggestions {
  background-color: gray;
}

.suggestions-title {
  color: var(--second-text-color);

  font-family: Pt serif, sans-serif;
  font-weight: bold;
  font-size: 30px;
  line-height: 1.3;
}

.suggestions-link {
  color: var(--second-text-color);
}

.suggestions-sub-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.3;
}

.suggestions-price {
  font-size: 16px;
  line-height: 1.3;
}

/* Карта Байкала */
.map-title {
  color: var(--first-text-col);
  font-family: Pt serif, sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.3;
}

/* О Байкале */
.about-title {
  font-family: Pt serif, sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.3;
}

.about-discription {
  font-size: 18px;
  line-height: 1.4;
  color: #333333;
}

.about-link {
  font-size: 16px;
  line-height: 1.1;
  color: #76767a;
}
